<!DOCTYPE html>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: #ffbf80;
    background-color: #006400;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1>Shane V. Sedlemyer</h1>
</header>
  
<nav>
  <ul>
    <li><a href="#"></a>Research Interests</li>
    <li><a href="#">Show Gallery</a></li>
    <li><a href="#">Projects</a></li>
  </ul>
</nav>

<article>
  <h1>Research Interests</h1>
  <p>  <ul>
    
    <li><a href="theatre&games.html"> Theatre and Video Games Studies</a></li>
    <li> 20th Century Dramatic Literature </li>
    <li> Digital Humanities </li>
    <li> Musical Theatre Studies </li>
  </ul></p>
  
</article>

<footer>Copyright &copy; W3Schools.com</footer>

</div>

</body>
</html>
}
